<h1>Tickets Purchase Info</h1>
<p>This is where ticket purchase will start</p>
<h3>create form that has:</h3>
<p>drop down to select movie</p>
<p>show individual ticket price</p>
<p>drop down to select number of tickets to buy</p>
<p>show total price</p>




