<h1>You purchased a ticket for:</h1>
<p>

  <strong>Title:</strong>
  <%= @title %>
</p>
 
<p>
  <strong>cost:</strong>
  <%= number_to_currency(@tcost) %>
</p>

<%= link_to ('http://localhost:3000/rails/mailers/ticket_mailer/welcome_email')%>